body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #cccccc;
}

header {
    background-color: #4e4d4d;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: block;
    position: absolute;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.dropdown-content a {
    color: #333;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    max-height: 170px;
}

h1 {
    margin: 0;

}

p {
    margin: 5px 0;

}

.main-content {
    max-width: 800px;
    margin: 8px auto;
    padding: 5px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-top: 20px;
}

h2.contact {
    color: rgba(255, 255, 255, 0.764);
}
ul {
    list-style-type: none;
    padding: 0;
    
}

address {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .main-content {
        padding: 10px;
    }
}


#grid {
    height: 35vh;
    max-height: 35vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background: rgb(4, 0, 3);
    border: 5px solid #000;
    border-radius: 5px;
}

:where(.left, .center, .right) {
    background: rgb(12, 11, 11);
    transition:  300ms; 
}

:where(.left:hover, .center:hover, .right:hover) {
    background: rgb(0, 0, 0); 
}

#grid:has(.left:hover) {
    grid-template-columns: 1.2fr 0.9fr 0.9fr;
    overflow: hidden;
}

#grid:has(.center:hover) {
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
}

#grid:has(.right:hover) {
    grid-template-columns: 0.9fr 0.9fr 1.2fr;
}

.left,
.center,
.right {
    overflow: hidden;
}

.left img,
.center img,
.right img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}
#golden{
    color: rgba(190, 161, 0, 0.899);
    font-style:oblique;
}


#contact {
    background-color: #4e4d4d;
    color: #fff;
    text-align: center;
    padding: 20px;
}